/* src/App.css */
body {
  background-color: #f4f4f9;
  color: #333;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
}

.app {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  border-radius: 8px;
  padding: 40px;
  box-sizing: border-box;
}

h1 {
  color: #04436e;
  text-align: center;
}

.content {
  margin-top: 20px;
  text-align: center;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 20px;
}

input {
  padding: 15px;
  border-radius: 4px;
  font-size: 16px;
  flex: 1;
  min-width: 300px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  padding: 15px;
  border-radius: 4px;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 90px;
  margin-left: 10px;
  box-sizing: border-box;
}

button:hover {
  background-color: #2980b9;
}

#shortUrl {
  color: #3498db;
}

#shortUrl:hover {
  color: #3498db;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  text-align: center;
}

.short-url {
  text-align: center;
  margin-top: 20px;
}

.copy-button {
  display: inline-block;
  padding: 8px 15px;
  margin-left: 10px;
  background-color: #3498db;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  border: none;
}

.copy-button:hover {
  background-color: #2980b9;
}

.navbar {
  background-color: #2980b9;
  padding: 15px;
  text-align: center;
  border-radius: 8px 8px 0 0;
}

.navbar-title {
  color: #ecf0f1;
  margin: 0;
  font-size: 24px;
  display: inline-block;
}

.navbar-subtitle {
  font-size: 16px;
  color: #ecf0f1;
}
/* src/App.css */
.footer {
  text-align: center;
  padding: 20px;
  background-color: #2980b9;
  color: #ecf0f1;
  border-radius: 0 0 8px 8px;
}

.footer .contact-info,
.footer .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.footer .contact-info a,
.footer .social-links a {
  color: #ecf0f1;
  text-decoration: none;
  margin-left: 10px;
}

.footer .social-links div {
  margin: 0 10px;
}

.footer .social-links a:hover {
  text-decoration: underline;
}

.footer .contact-info a:hover {
  text-decoration: underline;
}

.footer .contact-info svg,
.footer .social-links svg {
  margin-right: 5px;
}


@media (max-width: 600px) {
  body {
    height: auto;
    padding: 20px;
    display: block;
  }

  .app {
    padding: 20px;
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    box-sizing: border-box;
  }

  h1 {
    font-size: 20px;
  }

  .content {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input-group {
    flex-direction: column;
    width: 100%;
  }

  input,
  button {
    width: 100%;
    margin: 10px 0;
  }

  input {
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }

  .navbar-title {
    font-size: 20px;
  }

  .navbar-subtitle {
    font-size: 14px;
  }

  .footer {
    font-size: 12px;
  }
  
  .footer .contact-info,
  .footer .social-links {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer .contact-info a,
  .footer .social-links a {
    margin-left: 0;
    margin-top: 5px;
  }

  .footer .social-links div {
    margin: 10px 0;
  }

  .footer .contact-info svg,
  .footer .social-links svg {
    margin-right: 10px;
  }

  .short-url {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .copy-button {
    margin-top: 10px;
  }
}
